@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: linear-gradient(160deg,rgba(3, 153, 0, 1) 0%, rgba(0, 247, 41, 1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
        background-size: 100%;
    font-family: "Roboto", sans-serif;

}

.modal {
    background-color: white;
    width: 500px;
    padding: 10px 40px 30px 40px;
    border-radius: 20px;
    position: absolute;
    top: 30%;
    right: 35%;
    z-index: 10;
transition: all ease-in 0.3s;
transform: scale(1);
}
.modal:hover{
    box-shadow: -2px 8px 29px 4px rgba(0,0,0,0.62);
}

.closeBtn {
    background-color: transparent;
    border: none;
    font-size: 30px;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    cursor: pointer;
    color: rgb(48, 48, 48);
}

.show_modal {
    display: flex;
    justify-content: center;
}

.showModal {
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    border-radius: 10px;
}
.grenbutton{
    background: linear-gradient(90deg,rgba(3, 153, 0, 1) 0%, rgba(0, 247, 41, 1) 100%);
    border: none;
    color: white;
    width: 100%;
    padding: 17px;
    border-radius: 10px;
    font-size: 20px;
}
.hidden {
    display: none;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.658);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2 px);
    z-index: 5;

}
h1{
    background:linear-gradient(90deg,rgba(3, 153, 0, 1) 0%, rgba(0, 247, 41, 1) 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p {
    font-size: 20px;
    color: rgb(110, 110, 110);
    margin-bottom: 60px;
}